@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  width: 100%;
}

nav ul {
  /* width: 100%; */
  height: 70px;
  display: flex;
  font-size: 20px;
  list-style-type: none;
  justify-content: space-around;
  margin: auto;
  padding: 20px;
  gap: 30px;
  background-color: rgb(247, 159, 112);
}

nav li a {
  text-decoration: none;
  color: white;
}

.icons {
  font-size: 22px;
}

.logo1 {
  margin-top: -22px;
}

.container {
  width: 90%;
  margin: auto;
  padding-top: 7rem;
}

.maincontainer {
  padding-top: 2rem;
}

.maincontainer2 {
  text-align: center;
}

.padding {
  width: 40%;
  font-size: 20px;
  font-weight: 600;
  padding-left: 1rem;
  margin: auto;
  margin-top: 2%;
  background-color: rgb(198, 196, 196);
}

.padding1 {
  width: 40%;
  font-size: 20px;
  font-weight: 600;
  padding-left: 1rem;
  margin: auto;
  margin-top: 2%;
  background-color: rgb(198, 196, 196);
}

.padding2 {
  width: 40%;
  font-size: 20px;
  font-weight: 600;
  padding-left: 1rem;
  margin: auto;
  margin-top: 2%;
  background-color: rgb(198, 196, 196);
}

.padding3 {
  width: 40%;
  font-size: 20px;
  font-weight: 600;
  padding-left: 1rem;
  margin: auto;
  margin-top: 2%;
  background-color: rgb(198, 196, 196);
}

.padding4 {
  width: 40%;
  font-size: 20px;
  font-weight: 600;
  padding-left: 1rem;
  margin: auto;
  margin-top: 2%;
  background-color: rgb(198, 196, 196);
}

.promain {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 6rem;
}

.promain1 {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.para4 {
  width: 45%;
  padding-top: 2rem;
  text-align: start;
}

.dignissimos {
  display: flex;
  padding-top: 2rem;
}

.emailpro {
  width: 100%;
  padding: 8px;
  font-size: 12px;
  border-radius: 80px;
  border: 2px solid orange;
}

.btn6 {
  width: 180px;
  color: white;
  background-color: #ff7b00;
  border: 1px solid white;
  border-radius: 80px;
  margin-left: -80px;
}

.maincontainer1 {
  display: flex;
  width: 90%;
  margin: auto;
  padding-top: 3rem;
  align-items: center;
  justify-content: space-around;
}

.textmain {
  width: 70%;
  text-align: start;
}

.tempor {
  padding-top: 2rem;
}

.tempor1 {
  padding-top: 2rem;
}

.textmain1 {
  text-align: start;
}

.textmain2 {
  text-align: start;
}

@media screen and (min-device-width: 1280px) and (max-device-width: 1420px) {
.padding {
    width: 50%;
    font-size: 20px;
    font-weight: 600;
}

.padding1 {
    width: 50%;
    font-size: 20px;
    font-weight: 600;
}

.padding2 {
    width: 50%;
    font-size: 20px;
    font-weight: 600;
}

.padding3 {
    width: 50%;
    font-size: 20px;
    font-weight: 600;
}

.padding4 {
    width: 50%;
    font-size: 20px;
    font-weight: 600;
}

.para4 {
    width: 70%;
    padding-top: 2rem;
    text-align: start;
}

}

@media screen and (min-device-width: 1024px) and (max-device-width: 1280px) {
  nav ul {
    width: 100%;
    height: 70px;
    display: flex;
    font-size: 20px;
    padding: 18px;
    gap: 15px;
  }

  .icons {
    font-size: 20px;
  }

  .logo1 {
    width: 260px;
    margin-top: -6%;
  }

  .container {
    width: 90%;
    margin: auto;
    padding-top: 6rem;
}

.padding {
    width: 60%;
    font-size: 20px;
    font-weight: 600;
}

.padding1 {
    width: 60%;
    font-size: 20px;
    font-weight: 600;
}

.padding2 {
    width: 60%;
    font-size: 20px;
    font-weight: 600;
}

.padding3 {
    width: 60%;
    font-size: 20px;
    font-weight: 600;
}

.padding4 {
    width: 60%;
    font-size: 20px;
    font-weight: 600;
}

.maincontainer1 {
    display: flex;
    width: 90%;
    margin: auto;
    padding-top: 1rem;
}

  .promain {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 6rem;
}

.para4 {
    width: 75%;
    padding-top: 2rem;
    text-align: start;
}

.textmain1 {
    width: 20%;
    text-align: start;
}

.textmain2 {
    width: 20%;
    text-align: start;
}

.paddingpro{
  padding-top: 40px;
}                  

}

@media screen and (min-device-width: 840px) and (max-device-width: 1024px) {
   nav ul {
    width: 100%;
    height: 70px;
    font-size: 15px;
    gap: 20px;
  }

  .icons {
    font-size: 15px;
  }

  .logo1 {
    width: 200px;
    margin-top: -8%;
  }

  .container {
    width: 90%;
    margin: auto;
    padding-top: 5rem;
}

.maincontainer1 {
    display: flex;
    width: 90%;
    margin: auto;
    padding-top: 1rem;
}

.padding {
    width: 70%;
    font-size: 20px;
    font-weight: 600;
    padding-left: 1rem;
    margin: auto;
    margin-top: 4%;
}

.padding1 {
    width: 70%;
    font-size: 20px;
    font-weight: 600;
    padding-left: 1rem;
    margin: auto;
    margin-top: 4%;
}

.padding2 {
    width: 70%;
    font-size: 20px;
    font-weight: 600;
    padding-left: 1rem;
    margin: auto;
    margin-top: 4%;
}

.padding3 {
    width: 70%;
    font-size: 20px;
    font-weight: 600;
    padding-left: 1rem;
    margin: auto;
    margin-top: 4%;
}

.padding4 {
    width: 70%;
    font-size: 20px;
    font-weight: 600;
    padding-left: 1rem;
    margin: auto;
    margin-top: 4%;
}

 .maincontainer1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .promain1 {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 40px;
    padding-top: 80px;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
  }

  .mailpro {
    padding-top: 20px;
  }

  .textmain {
    width: 100%;
    text-align: start;
  }

  .logo5 {
    width: 350px;
  }

  .promain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 3rem;
  }

    .para4 {
    width: 80%;
    padding-top: 2rem;
    text-align: start;
  }

  .logo2{
    width: 360px;
  }

  .paddingpro{
    padding-top: 20px;
  }

}

@media screen and (min-device-width: 600px) and (max-device-width: 840px) {
 nav ul {
    width: 100%;
    height: 60px;
    display: flex;
    font-size: 12px;
    gap: 10px;
  }

  .icons {
    font-size: 12px;
  }

  .logo1 {
    width: 150px;
    margin-top: -6%;
  }

  .container {
    width: 90%;
    margin: auto;
    padding-top: 5rem;
}

.maincontainer2{
  font-size: 30px;
}

.padding {
    width: 90%;
    font-size: 18px;
    font-weight: 600;
    padding-left: 1rem;
    margin: auto;
    margin-top: 4%;
}

.padding1 {
    width: 90%;
    font-size: 18px;
    font-weight: 600;
    padding-left: 1rem;
    margin: auto;
    margin-top: 4%;
}

.padding2 {
    width: 90%;
    font-size: 18px;
    font-weight: 600;
    padding-left: 1rem;
    margin: auto;
    margin-top: 4%;
}

.padding3 {
    width: 90%;
    font-size: 18px;
    font-weight: 600;
    padding-left: 1rem;
    margin: auto;
    margin-top: 4%;
}

.padding4 {
    width: 90%;
    font-size: 18px;
    font-weight: 600;
    padding-left: 1rem;
    margin: auto;
    margin-top: 4%;
}

 .maincontainer1 {
    display: flex;
    width: 90%;
    margin: auto;
    padding-top: 3rem;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .promain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .promain1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .mailpro {
    padding-top: 20px;
  }

  .para4 {
    width: 100%;
    padding-top: 2rem;
    text-align: start;
  }

  .textmain1 {
    padding-top: 30px;
  }

  .textmain2 {
    padding-top: 30px;
  }

  .tempor {
    width: 425px;
    padding-top: 2rem;
  }
  

}

@media screen and (min-device-width: 320px) and (max-device-width: 599px) {
  nav ul {
    width: 100%;
    height: 40px;
    gap: 0px;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    font-size: 8px;
  }

  .icons {
    font-size: 7px;
  }

  .logo1 {
    width: 100px;
    margin-top: -7%;
  }

  .container {
    width: 90%;
    margin: auto;
    padding-top: 4rem;
}

.maincontainer2 {
    font-size: 20px;
    width: 300px;
    text-align: center;
    padding-left: 15px;
}

.padding {
    width: 85%;
    font-size: 10px;
    font-weight: 600;
    padding-left: 1rem;
    margin: auto;
    margin-top: 4%;
}

.padding1 {
    width: 85%;
    font-size: 10px;
    font-weight: 600;
    padding-left: 1rem;
    margin: auto;
    margin-top: 4%;
}

.padding2 {
    width: 85%;
    font-size: 10px;
    font-weight: 600;
    padding-left: 1rem;
    margin: auto;
    margin-top: 4%;
}

.padding3 {
    width: 85%;
    font-size: 10px;
    font-weight: 600;
    padding-left: 1rem;
    margin: auto;
    margin-top: 4%;
}

.padding4 {
    width: 85%;
    font-size: 10px;
    font-weight: 600;
    padding-left: 1rem;
    margin: auto;
    margin-top: 4%;
}

 .maincontainer1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .promain1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .mailpro {
    padding-top: 20px;
  }

  .promain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2rem;
  }

  .container {
    width: 100%;
    margin: auto;
    padding-top: 3rem;
  }

  .para1 {
    width: 90%;
    margin: auto;
    padding-top: 1rem;
  }

  .logo3{
    width: 260px;
    margin-left: 20px;
  }

  .dignissimos {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 20px;
}

  .mainpro1 {
    width: 95%;
    margin: auto;
    color: white;
    padding-top: 2rem;
}

.btn {
    width: 40%;
    height: 8%;
    font-size: 12px;
    margin-top: 35px;
    margin-bottom: 15%;
}

.headingpro1{
  padding-top: 40px;
}

.para4 {
  width: 100%;
  padding-top: 2rem;
  text-align: start;
}

.carezy{
  width: 80%;
}

.headingpro{
  padding-top: 20px;
}

.headingpro5{
  padding-left: 15px;
}


}